<div class="container">
  <h2>食材一覧・追加</h2>
  <div class="row pt-3">
    <%= form_with model: @food, url: admin_foods_path, method: :POST, local: true do |f| %>
      <div class="col-2 field">
        <%= f.label :食材名 %><br>
        <%= f.text_field :food_name, placeholder: 'キャベツ', class: "mx-5" %>
      </div>
      <div class="col-2 field">
        <%= f.label :ジャンル %><br>
        <%= f.select :genre, Food.genres.keys.map { |k| [I18n.t("enums.food.genre.#{k}"), k]},{},{class:"form-control form-control-sm text-center"} %>
      </div>
      <div class="col-2 field">
        <%= f.label :単位 %><br>
        <%= f.text_field :unit, placeholder: '個', class: "mx-5" %>
      </div>
      <div class="col-2 field">
        <%= f.label :１単位あたりの重さ %><br>
        約<%= f.number_field :weight_per_unit, class: "mx-5", min: 1, max: 1000 %>g
      </div>
      <div class="actions">
        <%= f.submit '追加する', class:"btn btn-success font-weight-bold px-4" %>
      </div>
    <% end %>
  </div>
  <div class="row pt-3">
  <%= form_with model: @food, url: admin_foods_path, method: :PATCH, local: true do |f| %>
    <div class="col-2 field">
      <%= f.select :genre, Food.genres.keys.map { |k| [I18n.t("enums.food.genre.#{k}"), k]},{},{class:"form-control form-control-sm text-center"} %>一覧
      <%= f.submit '表示変更', class:"btn btn-sm btn-success" %>
    </div>
  <% end %>
    <table class="col-8 mt-3 table border-bottom">
      <thead class="bg-light">
        <tr>
          <th class="col-3">食材名</th>
          <th class="text-center">単位</th>
          <th class="text-center">１単位あたりの重さ</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="table-borderless">
      <% @foods.each do |food| %>
        <tr>
          <td class="align-middle">
            <u>
              <%= link_to(edit_admin_food_path(food.id), class: "text-dark") do %>
                <%= food.food_name %>
              <% end %>
            </u>
          </td>
          <td class="align-middle text-center"><%= food.unit %></td>
          <td class="align-middle text-center">約<%= food.weight_per_unit.to_s(:delimited) %>g</td>
          <td><%= link_to("削除する", admin_food_path(food.id), method: :delete, data: { confirm: "【確認】本当に削除してもよろしいですか？" }, class: "btn btn-danger font-weight-bold mx-2") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
