<%= form_with model: @post_recipe, local: true do |f| %>
    <div class="row pt-3">
      <div class="col-8 mx-auto field">
        <h5>料理の写真をのせる<%= f.file_field :image, accept: "image/*" %></h5>
        <h5>レシピのタイトル（20文字まで）</h5>
        <%= f.text_field :title, maxlength: '20', placeholder: 'ハンバーグ', class: "form-control" %>
      </div>
    </div>

        <h5>材料<%= f.text_field :serving, placeholder: '2人分', class: "ml-3" %></h5>

            <div class="row form-group">
              <div class="col-3">食材・調味料</div>
              <div class="col-2">分量</div>
              <div class="col-2">単位</div>
              <div class="col-3">その他分量</div>
              <div class="col-2"></div>
            </div>
          <%= f.fields_for :ingredients do |ff| %>

            <%= render 'public/post_recipes/ingredient_fields', f: ff %>
          <% end %>
          <div class="nested-fields">
            <div class=""><%= link_to_add_association "＋別の商品を追加", f, :ingredients %></div>
          </div>

    <div class="row pt-3">
      <div class="col-8 mx-auto field">
        <h5>作り方</h5>
        <%= f.fields_for :making_recipes do |fff| %>
            <%= fff.text_area :recipe, class: "form-control border-dark", placeholder: "たまねぎをみじん切りにする。" %>


        <% end %>
      </div>
      <div id="detail-association-insertion-point"></div>  <!-- フォーム追加の表示位置 -->
      <div class="col-10 mx-auto mt-2">  <!-- フォームの追加 -->

      </div>
    </div>
    <div class="row pt-3">
      <div class="col-8 mx-auto field">
        <h5>コツ・おすすめ・ひとこと</h5>
        <%= f.text_area :advice, class: "form-control border-dark" %>
      </div>
      <div class="col-8 mx-auto text-center actions pt-3">
        <%= f.submit 'レシピを投稿する', class:"btn btn-success font-weight-bold px-4" %>
      </div>
  <% end %>