<div class="row form-group nested-fields">
  <div class="col-3">
    <%= f.text_field :food_name, placeholder: 'キャベツ', class: "form-control" %>
  </div>
  <div class="col-3">
    <%= f.text_field :other_amount, placeholder: '小さじ、大', class: "form-control" %>
  </div>
  <div class="col-2">
    <%= f.number_field :amount, step: "0.1", min: 0, max: 2000, class: "form-control" %>
  </div>
  <div class="col-2">
    <%= f.text_field :unit, placeholder: '個、g', class: "form-control" %>
  </div>
  <div class="col-2">
    <%= link_to_remove_association '削除', f, class: "btn btn-secondary btn-block" %>
  </div>
</div>
