<div class="row text-center pt-3">
  <% @post_recipes.each do |post_recipe| %>
    <div class="col-6 col-sm-3">
      <%= link_to(post_recipe_path(post_recipe.id), class: "text-dark") do %>
        <%= image_tag post_recipe.get_recipe_image(270,150), class:"img-fluid rounded" %>
        <p>
          <%= post_recipe.title %><br>
        <% end %>
          <%= image_tag post_recipe.user.get_profile_image(35,35),class:"rounded-circle" %>
          <%= post_recipe.user.name %>
        </p>
    </div>
  <% end %>
  <div class="col-12 mx-auto">
    <%= paginate @post_recipes %>
  </div>
</div>