<div class="container mt-3 mb-5">
  <h4 class="text-center mb-3">レシピを書き直す</h4>
  <%= form_with model: @post_recipe, local: true do |f| %>
    <div class="row pt-3">
      <div class="col-12 col-lg-8 mx-auto field">
        <%= render 'public/post_recipes/form', f: f %>
        <div class="row pt-3 mb-5">
          <div class="mx-auto mt-3">
            <% if @post_recipe.is_draft == true %>
              <%= f.submit "レシピを公開", :name => 'publicize_draft', class:'mx-2 btn btn-success' %>
              <%= f.submit "下書きを更新", :name => 'update_draft', class:'mx-2 btn btn-outline-secondary' %>
              <%= link_to "レシピを削除する", post_recipe_path(@post_recipe), method: :delete, data: { confirm: "【確認】本当に削除してもよろしいですか？" }, class: "btn btn-danger mx-4" %>
            <% else %>
              <%= f.submit "レシピを更新", :name => 'update_post', class:'mx-2 btn btn-info' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
