<div class="container">
  <h3>レシピを書く</h3>
  <%= form_with url: search_path, method: :get, local: :true do |f| %>
    <%= f.text_field :word, placeholder: "ハンバーグ", class: "form-control me-2 justif" %>
    <%= f.submit "検索" %>
  <% end %>
  <%= form_with model: @post_recipe, url: post_recipes_path, method: :POST, local: true do |f| %>
    <div class="row pt-3">
      <div class="col-10 field">
        <h4>料理の写真をのせる<%= f.file_field :image, accept: "image/*" %></h4>
      </div>
      <div class="col-10 field">
        <h4>レシピのタイトル（20文字まで）</h4>
        <%= f.text_field :title, maxlength: '20', placeholder: 'ハンバーグ', class: "mx-5" %>
      </div>
    </div>
    <div class="row pt-3">
      <h4>材料</h4>
      <div class="col-10 field"></div>
        <%= f.text_field :serving, placeholder: '2人分', class: "mx-5" %>
      </div>
      <table class="col-10 mt-3 table border-bottom">
        <thead class="bg-light">
          <tr>
            <th class="col-2">ジャンル</th>
            <th class="text-center">食材・調味料</th>
            <th class="text-center">分量</th>
            <th class="text-center">単位</th>
            <th class="text-center">その他分量</th>
          </tr>
        </thead>
        <tbody class="table-borderless">
        <%= f.fields_for :ingredient do |ff| %>
          <tr>
            <td><%= ff.text_field :food_name, placeholder: 'キャベツ', class: "mx-5" %></td>
            <td class="align-middle"><%= ff.number_field :amount, step: "0.1", class: "mx-5", min: 0, max: 2000 %></td>
            <td class="align-middle"><%= ff.text_field :unit, placeholder: '個、g', class: "mx-5" %></td>
            <td class="align-middle"><%= ff.text_field :other_amount, placeholder: '小さじ１', class: "mx-5" %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="row pt-3">
      <h4>作り方</h4>
      <div class="nested-fields">
      <%= f.fields_for :making_recipe do |fff| %>
        <div class="col-10 field">
          <%= fff.text_area :recipe, class: "form-control border-dark", placeholder: "たまねぎをみじん切りにする。" %>
        </div>

      <% end %>
      </div>
      <div id="detail-association-insertion-point"></div>  <!-- フォーム追加の表示位置 -->
      <div class="col-10 mx-auto mt-2">  <!-- フォームの追加 -->

      </div>
    </div>
    <div class="row pt-3">
      <div class="col-10 field">
        <h4>コツ・おすすめ・ひとこと</h4>
        <%= f.text_area :advice, class: "form-control border-dark" %>
      </div>
      <div class="actions">
        <%= f.submit 'レシピを投稿する', class:"btn btn-success font-weight-bold px-4" %>
      </div>
  <% end %>
  </div>
</div>

