<div class="container">
  <div class="row pt-3">
    <div class="col-6 ">
      <%= image_tag @post_recipe.get_recipe_image(480,480), class:"rounded" %>
    </div>
    <div class="col-6">
      <p><span class="h4 mr-2"><%= @post_recipe.title %></span>
        <% if user_signed_in? %>
          <% if @post_recipe.favorited_by?(current_user) %>
            <%= link_to post_recipe_favorites_path(@post_recipe), method: :delete do %>
              ♥<%= @post_recipe.favorites.count %>
            <% end %>
          <% else %>
            <%= link_to post_recipe_favorites_path(@post_recipe), method: :post do %>
              ♡<%= @post_recipe.favorites.count %> いいね
            <% end %>
          <% end %>
        <% else %>
          ♥<%= @post_recipe.favorites.count %>
        <% end %>
      </p>
      <p><%= image_tag @post_recipe.user.get_profile_image(35,35),class:"rounded-circle" %><%= @post_recipe.user.name %></p>
      <% if user_signed_in? %>
        <div>
          <%= link_to "買い物リストへ追加", shopping_lists_path, class: "btn btn-outline-light text-dark mx-4" %>
        </div>
      <% end %>
      <div>
        <%= link_to "コメントへ", post_recipe_post_comments_path(@post_recipe), class: "btn btn-outline-light text-dark mx-4" %>
      </div>
    <% if @post_recipe.user == current_user %>
      <div>
        <%= link_to "編集する", edit_post_recipe_path, class: "btn btn-outline-light text-dark mx-4" %>
      </div>
      <div>
        <%= link_to "削除する", post_recipe_path(@post_recipe), method: :delete, class: "btn btn-danger btn-outline-light text-dark mx-4" %>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-6">
      <p>材料(<%= @post_recipe.serving %>)</p>
      <table class="col-10 mt-3 table border-bottom">
        <% @ingredients.each do |ingredient| %>
        <tbody class="table-borderless">
          <tr>
            <td class="align-middle text_left"><%= link_to ingredient.food_name, ingredient_search_path(ingredient.food_name) %></td>
            <td class="align-middle text_right"><%= ingredient.other_amount %><%= rounded_decimel(ingredient.amount) %><%= ingredient.unit %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-6">
      <p>作り方</p>
      <table class="col-10 mt-3 table border-bottom">
        <% @making_recipes.each do |making_recipe| %>
        <tbody class="table-borderless">
          <tr>
            <td class="align-middle text_left"><%= making_recipe.recipe %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-10">
      <h5>コツ・おすすめ・ひとこと</h5>
      <p><%= @post_recipe.advice %></p>
    </div>
  </div>
</div>