<div class="container">
  <div class="row pt-3">
    <div class="col-6 ">
      <%= image_tag @post_recipe.get_recipe_image(480,480), class:"rounded" %>
    </div>
    <div class="col-6">
      <p><span class="h4 mr-2"><%= @post_recipe.title %></span>
        <% if user_signed_in? %>
          <% if @post_recipe.favorited_by?(current_user) %>
            <%= link_to post_recipe_favorites_path(@post_recipe), method: :delete do %>
              ♥<%= @post_recipe.favorites.count %> いいね
            <% end %>
          <% else %>
            <%= link_to post_recipe_favorites_path(@post_recipe), method: :post do %>
              ♡<%= @post_recipe.favorites.count %> いいね
            <% end %>
          <% end %>
        <% else %>
          ♥<%= @post_recipe.favorites.count %>
        <% end %>
      </p>
      <p><%= image_tag @post_recipe.user.get_profile_image(35,35),class:"rounded-circle" %><%= @post_recipe.user.name %></p>
      <div>
        <%= link_to "コメントへ", post_recipe_post_comments_path(@post_recipe), class: "btn btn-info mx-4 mb-2" %>
      </div>
      <% if @post_recipe.user == current_user %>
      <div>
        <%= link_to "レシピを編集する", edit_post_recipe_path, class: "btn btn-success mx-4 mb-2" %>
      </div>
      <div>
        <%= link_to "レシピを削除する", post_recipe_path(@post_recipe), method: :delete, data: { confirm: "【確認】本当に削除してもよろしいですか？" }, class: "btn btn-danger mx-4" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-6">
      <p>材料(<%= @post_recipe.serving %>)</p>
      <table class="col-10 mt-3 table border-bottom">
      <% @ingredients.each do |ingredient| %>
        <%= form_with model: @shopping_list, url: shopping_lists_path, method: :POST, local: true do |f| %>
          <%= f.hidden_field :food_name, value: ingredient.food_name %>
          <%= f.hidden_field :amount, value: ingredient.amount %>
          <%= f.hidden_field :unit, value: ingredient.unit %>
        <tbody class="table-borderless">
          <tr>
            <td class="align-middle text_left"><%= ingredient.food_name %></td>
            <td class="align-middle text_right"><%= ingredient.other_amount %><%= rounded_decimel(ingredient.amount) %><%= ingredient.unit %></td>
          <% if user_signed_in? %>
            <td class="align-middle text_right"><%= f.submit '買い物リストに追加', class: "btn btn-info font-weight-bold mx-4 mb-2" %></td>
          <% end %>
          </tr>
        </tbody>
        <% end %>
      <% end %>
      </table>
    </div>
    <div class="col-6">
      <p>作り方</p>
      <table class="col-10 mt-3 table border-bottom">
        <% @making_recipes.each do |making_recipe| %>
        <tbody class="table-borderless">
          <tr>
            <td class="align-middle text_left"><%= making_recipe.recipe %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-10">
      <h5>コツ・おすすめ・ひとこと</h5>
      <p><%= @post_recipe.advice %></p>
    </div>
  </div>
</div>