<div class="container">
  <h2>管理者ログイン</h2>
  <div class="row mt-5">
    <%= form_with model: @admin, url: admin_session_path do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :メールアドレス %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', class: "form-control border-dark" %>
    </div>
    <div class="field">
      <%= f.label :パスワード %><br>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control border-dark" %>
    </div>
    <div class="actions">
      <%= f.submit "ログイン", class:"btn btn-info btn-block" %>
    </div>
    <% end %>
  </div>
</div>