<div class="container">
  <h5 class="text-center mb-3">買い物リスト</h5>
  <%= form_with model: @shopping_list, local: true do |f| %>
  <div class="col-10 mx-auto">
    <div class="row pt-3">
      <div class="col-4"><%= f.text_field :food_name, maxlength: '20', placeholder: 'たまねぎ', class: "form-control" %></div>
      <div class="col-2"><%= f.number_field :amount, step: "0.1", min: 0, max: 2000, class: "form-control" %></div>
      <div class="col-2"><%= f.text_field :unit, placeholder: '個、g', class: "form-control" %></div>
      <div class="col-2"><%= f.submit '追加する', class:"btn btn-info font-weight-bold px-4" %></div>
    </div>
  </div>
  <% end %>
  <div class="row pt-3">
    <div class="col-10 mx-auto">
      <table class="mt-3 table borderless">
        <tbody class="border-bottom">
        <% @shopping_lists.each do |shopping_list| %>
          <tr>
          <%= form_with model: @fridge, url: fridge_create_path, method: :POST, local: true do |f| %>
            <td class="col-3 align-bottom"><%= f.select :genre, Fridge.genres.keys.map { |k| [I18n.t("enums.fridge.genre.#{k}"), k]},{},{class:"form-control form-control-sm text-center"} %></td>
            <td class="align-bottom"><%= f.check_box :fridge %></td>
            <%= f.hidden_field :food_name, value: shopping_list.food_name %>
            <%= f.hidden_field :amount, value: shopping_list.amount %>
            <%= f.hidden_field :unit, value: shopping_list.unit %>
            <%= f.submit '冷蔵庫に入れる', class:"btn btn-info font-weight-bold px-2 mr-2" %>
          <% end %>
          <%= form_with model: @shopping_list, url: shopping_list_path(shopping_list.id), method: :PATCH, local: true do |f| %>
            <td class="col-3 align-bottom"><%= shopping_list.food_name %></td>
            <td class="col-1 align-bottom"><%= rounded_decimel(shopping_list.amount) %><%= shopping_list.unit %></td>
            <td class="col-2"><%= f.number_field :amount, step: "0.1", min: 0, max: 2000, class: "form-control" %></td>
            <td class="col-1 align-bottom"><%= shopping_list.unit %></td>
            <td class="col-2"><%= f.submit '変更', class:"btn btn-info font-weight-bold px-2 mr-2" %><%= link_to("削除", shopping_list_path(shopping_list.id), method: :delete, class: "btn btn-danger font-weight-bold px-2") %></td>
          <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-6 text-right">
      <%= link_to("買い物リストを全て削除する", shopping_lists_destroy_all_path, method: :delete, class: "btn btn-danger px-3") %>
    </div>
  </div>
</div>