<div class="container mb-5">
  <h5 class="text-center mb-3">買い物リスト</h5>
  <%= form_with model: @shopping_list, local: true do |f| %>
    <div class="col-12 col-lg-8 mx-auto">
      <div class="row">
        <div class="col-6 col-sm-6 px-0 mb-2">
          <%= f.text_field :food_name, maxlength: '20', placeholder: 'たまねぎ', class: "form-control" %>
        </div>
        <div class="col">
          <%= f.number_field :amount, step: "0.1", min: 0, max: 2000, class: "form-control" %>
        </div>
        <div class="col px-0">
          <%= f.text_field :unit, placeholder: '個、g', class: "form-control" %>
        </div>
        <div class="col-12 col-sm text-center">
          <%= f.submit '追加', class:"btn btn-info font-weight-bold" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row pt-3 pb-3">
    <div class="col-12 col-lg-10 mx-auto">
      <% @shopping_lists.each do |shopping_list| %>
        <%= form_with model: @shopping_list, url: shopping_list_path(shopping_list.id), method: :PATCH, local: true do |f| %>
          <div class="row mt-2 mb-2 pb-2 align-items-end border-bottom">
            <div class="col-7 order-1 order-sm-1 col-sm-6">
              <%= shopping_list.food_name %>
            </div>
            <div class="col-3 order-2 order-sm-2 col-sm-2 text-center">
              <%= rounded_decimel(shopping_list.amount) %><%= shopping_list.unit %>
            </div>
            <div class="col-3 order-4 offset-5 offset-sm-0 order-sm-3 col-sm mt-2">
              <%= f.number_field :amount, step: "0.1", min: 0, max: 2000, class: "form-control" %>
            </div>
            <div class="col-2 order-5 order-sm-4 col-sm px-0">
              <%= shopping_list.unit %>
            </div>
            <div class="col-4 order-6 order-sm-5 col-sm px-0">
              <%= f.submit '変更', class:"btn btn-info font-weight-bold px-2" %>
            </div>
            <div class="col-2 order-3 order-sm-6 col-sm px-0">
              <%= link_to("削除", shopping_list_path(shopping_list.id), method: :delete, class: "btn btn-danger font-weight-bold px-2") %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row mx-auto text-center pt-2">
      <div class="col">
        <% if @shopping_lists == [] %>
          <p>買い物リストはありません。買い物リストを作ろう！</p>
        <% else %>
          <%= link_to("買い物リストを全て削除する", shopping_lists_destroy_all_path, method: :delete, class: "btn btn-outline-danger px-3 mx-2 mb-2") %>
          <%= link_to("冷蔵庫に入れる", to_fridge_path, class: "btn btn-outline-info px-3 mx-2 mb-2") %>
        <% end %>
      </div>
    </div>
  </div>
</div>