<div class="container">
  <div class="row pt-3">
    <div class="col-8 top-bg mx-auto">
      <h3 class="text-center">~while staying to home~</h3>
      <p class="text-center pt-3">おうちにある食材からレシピを検索する</p>
    </div>
    <div class="col-8 mx-auto pt-5">
      <h3 class="text-center">おすすめレシピ<span class="h5">（♡が多い順）</span></h3>
      <div class="row pt-3">
        <table class="col-9 mx-auto table border-bottom">
          <tbody class="table-borderless">
          <% @all_ranks.each do |post_recipe| %>
            <tr>
              <td class="col-3">
                <%= link_to(post_recipe_path(post_recipe.id), class: "text-dark") do %>
                  <%= image_tag post_recipe.get_recipe_image(200,100), class:"rounded" %>
                <% end %>
              </td>
              <td class="col-9">
                <%= link_to(post_recipe_path(post_recipe.id), class: "text-dark mb-3 mr-2") do %><%= post_recipe.title %><% end %>♥<%= post_recipe.favorites.count %><br>
                <%= image_tag post_recipe.user.get_profile_image(35,35),class:"rounded-circle" %><%= post_recipe.user.name %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>