<div class="container">
  <div class="row pt-3">
    <div class="col-12 col-lg-8 mx-auto">
      <h4 class="text-center mb-3">おうちレシピユーザー</h4>
      <div class="row text-center border-bottom pt-3">
        <div class="col-1">ID</div>
        <div class="col col-sm-3">ユーザー名</div>
        <div class="col col-sm-6">メールアドレス</div>
        <div class="col col-sm-2">ステータス</div>
      </div>
      <% @users.each do |user| %>
        <div class="row text-center border-bottom pt-3 pb-2">
          <div class="col-1">
            <%= user.id %>
          </div>
          <div class="col-11 col-sm-3">
            <%= link_to(admin_user_path(user.id), class: "text-dark") do %>
              <%= user.name %>
            <% end %>
          </div>
          <div class="col-11 offset-1 offset-sm-0 col-sm-6">
            <%= user.email %>
          </div>
          <div class="col-11 offset-1 offset-sm-0 col-sm-2">
            <% if user.is_deleted == false %>
              <b class="text-success">有効</b>
            <% else %>
              <b class="text-black-50">退会</b>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="col-12 mx-auto">
        <%= paginate @users %>
      </div>
    </div>
  </div>
</div>
