<div class="container mb-5">
  <div class="row pt-3">
    <div class="col-12 col-lg-8 mx-auto mb-5">
      <% if user_signed_in? %>
        <h5 class="text-center pb-2">
          <%= link_to(post_recipe_path(@post_recipe), class: "text-dark") do %>
            <%= @post_recipe.title %>
          <% end %>
          へのコメントを書く
        </h5>
        <%= form_with model: @post_comment, url: post_recipe_post_comments_path, method: :POST, local: true do |f| %>
          <%= f.text_field :comment, placeholder: "コメントを書く", class: "form-control me-2" %>
          <div class="text-center mt-3">
            <%= f.submit "コメントする", class:"btn btn-success px-4" %>
          </div>
        <% end %>
      <% else %>
        <h5 class="text-center mb-3">コメントするにはユーザー登録が必要です。</h5>
        <div class="text-center">
          <%= link_to "登録はこちらから", new_user_registration_path, class: "btn btn-info mx-4" %>
        </div>
      <% end %>
      <h5 class="text-center mt-3 mb-3">
        <%= link_to(post_recipe_path(@post_recipe), class: "text-dark") do %>
          <%= @post_recipe.title %>
        <% end %>
        のコメント　<%= @post_comment_count %>件
      </h5>
      <% if @post_comment_count == 0 %>
        <p class="text-center">
          コメントはまだありません。<br>
          <%= @post_recipe.title %>に対するコメントを書こう！
        </p>
      <% else %>
        <% @post_comments.each do |post_comment| %>
          <table class="mt-3 table border-bottom">
            <tbody class="table-borderless">
              <tr>
                <td colspan="2"><%= post_comment.comment %></td>
                <td></td>
              </tr>
              <tr>
                <td class="col-2"><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
                <td>
                  <%= image_tag post_comment.user.get_profile_image(30,30), class:"rounded-circle" %>
                  <%= post_comment.user.name %>
                </td>
                <td class="col-3 text-right">
                  <% if post_comment.user = current_user %>
                    <%= link_to("削除", post_recipe_post_comment_path(post_comment.post_recipe, post_comment), method: :delete, class: "btn btn-outline-secondary") %>
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <%= paginate @post_comments %>
      <% end %>
    </div>
  </div>
</div>