<div class="container">
  <div class="row pt-3">
    <div class="col-12 col-lg-8 mx-auto">
      <h4 class="text-center mb-3">
        <%= link_to(admin_user_path(@user.id), class: "text-dark") do %>
          <%= image_tag @user.get_profile_image(480,480), class:"col-2 col-sm-1 img-fluid rounded-circle px-0" %>
          <%= @user.name %>さん
        <% end %>
        のコメント
        <%= @post_comment_count %>件
      </h4>
      <% if @post_comment_count == 0 %>
        <p>コメントはまだありません。</p>
      <% else %>
        <% @post_comments.each do |post_comment| %>
          <table class="mt-3 table border-bottom">
            <tbody class="table-borderless">
              <tr>
                <td colspan="2"><%= post_comment.post_recipe.title %>へのコメント</td>
              </tr>
              <tr>
                <td colspan="2"><%= post_comment.comment %></td>
              </tr>
              <tr>
                <td class="col-2"><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
                <td colspan="2", class="text-center">
                  <%= link_to(admin_post_recipe_post_comments_path(post_comment.post_recipe, post_comment), class: "btn btn-outline-info") do %>
                    <%= post_comment.post_recipe.title %>のコメント一覧へ
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
        <% end %>
        <%= paginate @post_comments %>
      <% end %>
    </div>
  </div>
</div>