<div class="container">
  <h5 class="text-center mb-3">冷蔵庫（おうちにある食材を追加しよう！）</h5>
  <%= form_with model: @fridge, local: true do |f| %>
  <div class="col-10 mx-auto">
    <div class="row pt-3">
      <div class="col-3"><%= f.select :genre, Fridge.genres.keys.map { |k| [I18n.t("enums.fridge.genre.#{k}"), k]},{},{class:"form-control form-control-sm text-center"} %></div>
      <div class="col-3"><%= f.text_field :food_name, maxlength: '20', placeholder: 'たまねぎ', class: "form-control" %></div>
      <div class="col-2"><%= f.number_field :amount, step: "0.1", min: 0, max: 2000, class: "form-control" %></div>
      <div class="col-2"><%= f.text_field :unit, placeholder: '個、g', class: "form-control" %></div>
      <div class="col-2"><%= f.submit '冷蔵庫に入れる', class:"btn btn-info font-weight-bold px-4" %></div>
    </div>
  </div>
  <% end %>
  <div class="row pt-3">  <!--タブ部分-->
    <ul class="tab-list list-unstyled">
      <li class="tab tab-active">野菜</li>
      <li class="tab">肉</li>
      <li class="tab">魚介</li>
      <li class="tab">主食・粉</li>
      <li class="tab">卵・乳・豆</li>
      <li class="tab">フルーツ・デザート</li>
      <li class="tab">調味料</li>
      <li class="tab">その他</li>
    </ul>
    <div class="tabbox-contents"> <!--タブで選択された要素部分-->
      <div class="tabbox box-show">
        <%= render 'public/fridges/fridges_form', fridges: @vegetable_fridges %>
      </div>
      <div class="tabbox">
        <%= render 'public/fridges/fridges_form', fridges: @meat_fridges %>
      </div>
      <div class="tabbox">
        <%= render 'public/fridges/fridges_form', fridges: @seafood_fridges %>
      </div>
      <div class="tabbox">
        <%= render 'public/fridges/fridges_form', fridges: @staple_food_and_flour_fridges %>
      </div>
      <div class="tabbox">
        <%= render 'public/fridges/fridges_form', fridges: @eggs_and_milk_and_beans_fridges %>
      </div>
      <div class="tabbox">
        <%= render 'public/fridges/fridges_form', fridges: @fruit_and_dessert_fridges %>
      </div>
      <div class="tabbox">
        <%= render 'public/fridges/fridges_form', fridges: @seasoning_fridges %>
      </div>
      <div class="tabbox">
        <%= render 'public/fridges/fridges_form', fridges: @others_fridges %>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag 'tab' %>