<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 mb-3">
      <%= image_tag @post_recipe.get_recipe_image(480,480), class:"col-12 rounded" %>
    </div>
    <div class="col-12 col-sm-6 mb-3">
      <div class="row">
        <div class="col-12 mb-2">
          <span class="h4 mr-2"><%= @post_recipe.title %></span>
          ♥<%= @post_recipe.favorites.count %>
        </div>
        <div class="col-6 col-sm-12 mb-2">
          <%= link_to(admin_user_path(@post_recipe.user.id), class: "text-dark") do %>
            <%= image_tag @post_recipe.user.get_profile_image(35,35),class:"rounded-circle" %>
            <%= @post_recipe.user.name %>
          <% end %>
        </div>
        <div class="col-6 col-sm-12 mt-2">
          <%= link_to "コメントへ", admin_post_recipe_post_comments_path(@post_recipe), class: "btn btn-outline-info" %>
        </div>
        <div class="col-6 offset-6 col-sm-12 mt-2">
          <%= link_to "レシピを削除", admin_post_recipe_path(@post_recipe), method: :delete, data: { confirm: "【確認】本当にこのレシピを削除してもよろしいですか？" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12 col-sm-6">
      <p>材料(<%= @post_recipe.serving %>)</p>
      <table class="col-12 mt-3 table table-sm border-bottom">
        <tbody class="table-borderless">
          <% @ingredients.each do |ingredient| %>
            <tr>
              <td class="align-middle text_left">
                <%= ingredient.food_name %>
              </td>
              <td class="align-middle text_right">
                <%= ingredient.other_amount %>
                <%= rounded_decimel(ingredient.amount) %>
                <%= ingredient.unit %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-12 col-sm-6">
      <h5>作り方</h5>
      <table class="col-12 mt-3 table">
        <tbody class="table-borderless">
          <% @making_recipes.each do |making_recipe| %>
            <tr>
              <td class="align-middle"><%= making_recipe.recipe %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row pt-3 pb-3">
    <div class="col-10">
      <h5>コツ・おすすめ・ひとこと</h5>
      <p class="ml-4"><%= @post_recipe.advice %></p>
    </div>
  </div>
</div>