<div class="container">
  <div class="row pt-3">
    <div class="col-12 col-sm-10 col-lg-8 mx-auto">
      <h4 class="text-center mb-3">
        <%= link_to(admin_user_path(@user.id), class: "text-dark") do %>
          <%= image_tag @user.get_profile_image(480,480), class:"col-2 col-sm-1 img-fluid rounded-circle px-0" %>
          <%= @user.name %>さん
        <% end %>
        のユーザー情報編集
      </h4>
      <%= form_with model: @user, url: admin_user_path, method: :PATCH, local: true do |f| %>
        <div class="row text-right pt-3">
          <div class="col-5">会員ID</div>
          <div class="col-6 text-left">
            <%= @user.id %>
          </div>
        </div>
        <div class="row text-right align-items-center pt-2">
          <div class="col-5">ユーザー名</div>
          <div class="col-9 offset-2 offset-sm-0 col-sm-6 mt-2">
            <%= f.text_field :name, class: "form-control border-dark" %>
          </div>
        </div>
        <div class="row text-right align-items-center pt-3">
          <div class="col-5">メールアドレス</div>
          <div class="col-9 offset-2 offset-sm-0 col-sm-7 mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-dark" %>
          </div>
        </div>
        <div class="row align-items-center pt-3">
          <div class="col-5 text-right">ステータス</div>
          <div class="col-9 offset-2 offset-sm-0 col-sm-7 mt-2">
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効", {value: :false, style: "display: inline-block;", class: "mr-4"} %>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会", {value: :true, style: "display: inline-block;"} %>
          </div>
        </div>
        <div class="row pt-3">
          <%= f.submit "変更を保存する", class:"btn btn-success px-4 mx-auto" %>
        </div>
      <% end %>
    </div>
  </div>
</div>