<div class="container">
  <div class="row pt-3">
    <div class="col-8 mx-auto">
      <h4 class="text-center mb-3"><%= @user.name %>さんのユーザー情報詳細</h4>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="col-3">ID</td>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <td>ユーザー名</td>
            <td><%= @user.name %></td>
          <tr>
            <td>メールアドレス</td>
            <td><%= @user.email %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <% if @customer.is_deleted == false %>
                <b class="text-success">有効</b>
              <% else %>
                <b class="text-black-50">退会</b>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div><%= link_to("編集する", edit_admin_user_path(@user.id), class: "btn btn-success px-4 mr-5") %></div>
      <div><%= link_to(admin_post_recipes_path, class: "text-dark") do %><%= @user.name %>さんのレシピ一覧を見る<% end %></div>
      <div><%= link_to(admin_post_recipe_post_comments_path, class: "text-dark") do %><%= @user.name %>さんのコメント一覧を見る<% end %></div>
    </div>
  </div>
</div>