<div class="container mb-5">
  <div class="row pt-3">
    <div class="col-12 col-sm-10 col-lg-8 mx-auto">
    <h4 class="text-center mb-3">
      <%= image_tag @user.get_profile_image(480,480), class:"col-2 col-sm-1 img-fluid rounded-circle px-0" %>
      <%= @user.name %>さんのプロフィール編集
    </h4>
    <%= form_with model: @user do |f| %>
      <div class="row text-right align-items-center pt-3">
        <div class="col-6 col-sm-5">プロフィール画像</div>
        <div class="col-6 text-left">
          <label>
            <span class="btn btn-outline-secondary">
              写真を選択<%= f.file_field :profile_image, accept: "image/*", style: "display:none" %>
            </span>
          </label>
        </div>
      </div>
      <div class="row text-right align-items-end pt-2">
        <div class="col-5">ユーザー名</div>
        <div class="col-9 offset-2 offset-sm-0 col-sm-6 mt-2">
          <%= f.text_field :name, class: "form-control border-dark" %>
        </div>
      </div>
      <div class="row text-right align-items-end pt-3">
        <div class="col-5">メールアドレス</div>
        <div class="col-9 offset-2 offset-sm-0 col-sm-7 mt-2">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-dark" %>
        </div>
      </div>
      <div class="row text-center pt-3 mb-5">
        <div class="col-12">
          <%= f.submit '変更する', class:"btn btn-success mr-5 px-4" %>
          <%= link_to("退会する", withdraw_path, class: "btn btn-outline-danger px-4") %>
        </div>
        <div class="col-12 pt-4">
          <%= link_to my_page_path, class: "btn btn-outline-success text-dark" do %>
            <i class="fa-regular fa-user"></i>
            マイページへ戻る
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>