<div class="container">
  <div class="row pt-3">
    <div class="col-8 mx-auto">
    <h4 class="text-center mb-3"><%= @user.name %>さんのプロフィール編集</h4>
      <%= form_with model: @user do |f| %>
        <div class="col-6">ユーザー名</div>
        <div class="col-6"><%= f.text_field :name, class: "form-control border-dark" %></div>
        <div class="col-6">メールアドレス</div>
        <div class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-dark" %></div>
        <div class="form-group row mt-3">
        <div class="offset-md-3 col-4">
            <%= f.submit '変更する', class:"col-12 btn btn-success mr-5 font-weight-bold" %>
            <%= link_to("マイページへ戻る", users_my_page_path, class: "col-12 btn btn-danger font-weight-bold") %>
            <div class="offset-md-2 col-2">
              <%= link_to("退会する", users_withdraw_path, class: "col-12 btn btn-danger font-weight-bold") %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>