<div class="container">
  <div class="row pt-3">
    <div class="col-8 mx-auto">
    <h4 class="text-center mb-3"><%= @user.name %>さんのプロフィール編集</h4>
    <%= form_with model: @user do |f| %>
      <div class="row text-right pt-3">
        <div class="col-5">プロフィール画像</div>
        <div class="col-3"><%= f.file_field :profile_image, accept: "image/*" %></div>
      </div>
      <div class="row text-right pt-3">
        <div class="col-5">ユーザー名</div>
        <div class="col-3"><%= f.text_field :name, class: "form-control border-dark" %></div>
      </div>
      <div class="row text-right pt-3">
        <div class="col-5">メールアドレス</div>
        <div class="col-6"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control border-dark" %></div>
      </div>
      <div class="row text-center pt-3">
        <div class="col-12">
          <%= f.submit '変更する', class:"btn btn-success mr-5 font-weight-bold px-4" %>
          <%= link_to("退会する", users_withdraw_path, class: "btn btn-danger font-weight-bold px-4") %>
        </div>
        <div class="col-12 pt-4"><%= link_to(users_my_page_path, class: "btn btn-danger font-weight-bold px-4") do %><%= @user.name %>さんのマイページへ戻る<% end %></div>
      </div>
    <% end %>
    </div>
  </div>
</div>