<div class="container">
  <h4 class="text-center"><%= @user.name %>さんのマイページ</h4>
  <div class="row pt-4">
    <div class="col-4 text-center">
      <%= link_to("冷蔵庫へ", fridges_path(@user.id), class: "btn btn-success px-4") %>
      <p>食材の登録</p>
    </div>
    <div class="col-4 text-center">
      <%= link_to("レシピを書く", new_post_recipe_path, class: "btn btn-success px-4") %>
      <p>おすすめレシピを登録</p>
    </div>
    <div class="col-4 text-center">
      <%= link_to("プロフィール編集", edit_user_path(@user.id), class: "btn btn-success px-4") %>
      <p><%= @user.name %>さんの登録情報を編集</p>
    </div>
  </div>
  <h4 class="text-center mt-3"><%= @user.name %>さんのレシピ<span class="ml-3"><%= @post_recipe_count %>品</span></h4>
  <div class="row text-center mt-3">
    <div class="col-10 mx-auto">
    <% if @post_recipe_count == 0 %>
      <p>
        <%= @user.name %>さんのレシピはまだありません。<br>
        普段からよく作るレシピなどを書いてみよう！
      </p>
    <% else %>
      <% @post_recipes.each do |post_recipe| %>
      <div class="col-8">
        <%= link_to(post_recipe_path(post_recipe.id), class: "text-dark") do %>
          <%= image_tag post_recipe.get_recipe_image(180,100) %>
          <p><%= post_recipe.title %></p>
        <% end %>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>