<!DOCTYPE html>
<html>
  <head>
    <title>OuchiRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://kit.fontawesome.com/612df887b1.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="sticky-top fixed-top bg-white">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <button class="navbar-toggler mb-2 mx-2" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand pr-5" href="/"><%= image_tag 'OuchiRecipe-logo.jpg', alt: 'OuchiRecipe', size: '150x75' %></a>
          <div class="row">
            <div class="navbar-collapse collapse mb-2" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to "レシピを書く", new_post_recipe_path, class: "nav-link btn btn-outline-success text-dark mx-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link btn btn-outline-danger text-dark mx-2" %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to "レシピ一覧", admin_post_recipes_path, class: "nav-link btn btn-outline-primary text-dark mx-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ユーザー一覧", admin_path, class: "nav-link btn btn-outline-info text-dark mx-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link btn btn-outline-danger text-dark mx-2" %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to "ユーザー登録", new_user_registration_path, class: "nav-link btn btn-outline-info text-dark mx-2" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "nav-link btn btn-outline-success text-dark mx-2" %>
                </li>
              <% end %>
              </ul>
            </div>
            <div class="col-12">
              <%= form_with url: search_path, method: :get, local: :true, class:"d-flex ml-auto" do |f| %>
                <%= f.text_field :word, placeholder: "ハンバーグ", class: "form-control mr-2" %>
                <%= f.submit "検索", class:"btn btn-outline-secondary" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% if user_signed_in? %>
      <div class="text-center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <% end %>
      <%= yield %>
    </main>
    <footer class="sticky-bottom fixed-bottom bg-white">
      <div class="container mt-2 mb-2">
      <% if user_signed_in? %>
        <div class="col-10 col-sm-8 mx-auto">
          <div class="row mx-auto">
            <div class="mx-1 mx-auto">
              <%= link_to my_page_path, class: "btn btn-outline-success text-dark" do %>
                <i class="fa-regular fa-user"></i>
              <% end %>
            </div>
            <div class="mx-1 mx-auto">
              <%= link_to fridges_path, class: "btn btn-outline-primary text-dark" do %>
                <i class="fa-solid fa-door-closed"></i><i class="fa-brands fa-qq"></i>
              <% end %>
            </div>
            <div class="mx-1 mx-auto">
              <%= link_to post_recipes_path, class: "btn btn-outline-danger text-dark" do %>
                <i class="fa-regular fa-heart"></i>
              <% end %>
            </div>
            <div class="mx-1 mx-auto">
              <%= link_to shopping_lists_path, class: "btn btn-outline-warning text-dark" do %>
                <i class="fa-solid fa-cart-shopping"></i><i class="fa-solid fa-pen-to-square"></i>
              <% end %>
            </div>
          </div>
        </div>
      <% elsif admin_signed_in? %>
      <% else %>
        <div class="text-center">
          ユーザー登録するとレシピを投稿したり、お気に入りレシピを保存することができます。
        </div>
      <% end %>
      </div>
    </footer>
  </body>
</html>
