<!DOCTYPE html>
<html>
  <head>
    <title>OuchiRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg sticky-top">
          <a class="navbar-brand mt-5" href="/">
            <span class="border border-dark  text-dark h1 px-5">OuchiRecipe</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "レシピを書く", new_post_recipe_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to "ユーザー登録", new_user_registration_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
            <% end %>
            </ul>
          </div>
        </nav>
        <div class="text-center">
          <p>おうちにある食材からレシピを検索する</p>
          <form class="col-3 d-flex ml-auto" role="search">
            <%= form_with url: search_path, method: :get, local: :true do |f| %>
              <%= f.select :range, options_for_select([['User'], ['Post']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
              <%= f.text_field :word %>
              <%= f.submit "検索" %>
            <% end %>
        　   <input class="form-control me-2 justifi" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
    </header>
    <main>
      <div class="text-center">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
    <footer>
      <div class="container">
        <nav class="navbar navbar-expand-lg sticky-top">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "マイページ", users_my_page_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
              <li class="nav-item">
                <%= link_to "冷蔵庫", fridges_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
              <li class="nav-item">
                <%= link_to "♡レシピ", post_recipes_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
              <li class="nav-item">
                <%= link_to "買い物リスト", shopping_lists_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
            <% elsif admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "食材一覧", admin_foods_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
              <li class="nav-item">
                <%= link_to "レシピ一覧", admin_post_recipes_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー一覧", admin_path, class: "nav-link btn btn-outline-light text-dark mx-4" %>
              </li>
            <% else %>
              <div class="text-center">
                <p>
                  ユーザー登録すると冷蔵庫からレシピ検索ができるようになります。<br>
                  またレシピを投稿したりお気に入りレシピを保存することができます。
                </p>
              </div>
            <% end %>
            </ul>
          </div>
        </nav>
    </footer>
  </body>
</html>
